.entry-meta {
  font-size: 12px;
  text-transform: uppercase;
  padding: 15px 0;
  color: #797283;
}

.entry-header .entry-title {
  margin: 0 0 17px 0;
  font-size: 24px;
  line-height: 28px;
  font-family: Inter;
}

.entry-header .entry-title a {
  color: #1E1C21;
}

.entry-header {
  min-height: 56px;
}

.entry-content {
  color: #797283;
  line-height: 24px;
  font-size: 16px;
}