@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&display=swap');

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url("../font/Inter-Bold.woff2") format("woff2"),
  url("../font/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url("../font/Inter-Regular.woff2") format("woff2"),
  url("../font/Inter-Regular.woff") format("woff");
}